* {
  font-family: "Poppins", sans-serif;
  margin: auto;
  text-align: center;
}

@keyframes in-bottom-fade {
    from {
        opacity: 0%;
    } 
    to {
        opacity: 100%;
    }
}

@keyframes title-fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes subtitle-fade {

}

.footer1 {
    opacity: 0;
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 70px;
    animation-name: in-bottom-fade;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.footer2 {
    opacity: 0;
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 50px;
    animation-name: in-bottom-fade;
    animation-delay: 4s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

h1 {
  font-weight: 600;
  font-style: semibold;
  animation-name: title-fade;
}

body {
  /* background-image: url("background.jpg"); */
  background: linear-gradient(to right, #f7f6ed, #e0dcbf);
  background-color: #989088;
  background-attachment: fixed;
  
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    opacity: 0;
    animation-name: title-fade;
    animation-delay: 300ms;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.subtitle {
    opacity: 0;
    animation-name: title-fade;
    animation-delay: 1500ms;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}