* {
  font-family: "Poppins", sans-serif;
  margin: auto;
  text-align: center;
  color: white;
}

h1 {
  font-weight: 400;
  font-style: regular;
}

body {
  /* background-image: url("background.jpg"); */
  /* background: linear-gradient(to right, #f7f6ed, #e0dcbf); */
  /* background-color: #989088; */
  background-color: #141414;
  background-attachment: fixed; 
}

.page {
    height: 100vh;
}

.content-group {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

br {
    display: block;
    content: "";
    margin-top: 5;
}

.instagram-button {
    display: flex;
    width: 100px;
    background-color: pink;
    aspect-ratio: 1;
    font-size: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    opacity: 0;
    border-radius: 25px;
    transition: all 600ms cubic-bezier(.18,.49,.06,1);
}

#instagram-icon {
    text-decoration: none;
}

.subtitle, .names {
    opacity: 0;
    transition: all 600ms cubic-bezier(.18,.49,.06,1);
}

.names {
    transition-delay: 200ms;
}

.content-group:hover > .instagram-button {
    opacity: 1;
    transform: translateY(-300%) translateX(-25%) rotate(7deg);
}

.content-group:hover > .subtitle, .content-group:hover > .names {
    opacity: 1;
    transform: translateY(15%);

}